<header>
    <div class="left-section">
        <i class="material-icons">menu</i>
        <img src="assets/images/youtube-logo.png" alt="">
    </div>
    <div class="mid-section">
        <form>
            <input type="text" placeholder="search" />
            <button>
                <i class="material-icons">search</i>
            </button>
        </form>
        <i class="material-icons mic">mick</i>
    </div>
    <div class="right-section">
        <a href=""> <i class="material-icons">video_call</i>
        </a>
        <a href=""> <i class="material-icons">apps</i>
        </a>
        <a href=""> <i class="material-icons">notifications</i>
        </a> <a href=""> <i class="material-icons">account_circle</i>
        </a>
    </div>
</header>